<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

<h1>Tweets</h1>


<h3>le nombre de retweets</h3>
<div id="bar-example" style="height: 250px;"></div>
<br><br>
<h3>Most localisation tweets</h3>
<div id="donut-example" style="height: 250px;"></div>
<h3>Nombre de favoris</h3>
<div id="area-example" style="height: 250px;"></div>


<script>

    var data = <%- JSON.stringify(rtCount) %>;

    var morrisData = [];

    $.each(data, function(key, val){
        morrisData.push({ y: val._id, a : val.count});
    });

     new Morris.Line({
        element: 'bar-example',
        data: morrisData,
        xkey: 'y',
        ykeys: ['a'],
        labels: ['nb retweets']
     });

    var data = <%- JSON.stringify(locations) %>;
    var donutData = [];

    $.each(data, function(key, val){
        if (val.count > 4){
            donutData.push({ label: val._id, value : val.count});
        }
     });

    new Morris.Donut({
          element: 'donut-example',
          data: donutData
    });

    var data = <%- JSON.stringify(fvCount) %>;
    var areaData = [];

    $.each(data, function(key, val){
        areaData.push({ year: val._id, value : val.count});
    });

     new Morris.Bar({
          element: 'area-example',
          data: areaData,
          xkey: 'year',
          ykeys: ['value'],
          labels: ['Value']
     });

</script>
